body {
    background-color: #487948;
}
.prvo-dugme {
    border-radius: 15px;
}
.prva-slika {
    width: 200px;
    border-radius: 20px;
}
.nesto {
    background-color: white;
    width: 200px;
    border-radius: 20px;
    height: 239px;
    border: 2px solid black;
    margin-top: 25px;

}
.text1 {
    text-align: center;
    margin-top: 1px;
}
.prvo-dugme1 {
    border-radius: 10px;
    margin-left: 49px;
    margin-top: 1px;
}