body {
    background-color: #487948;
}
.prvo-dugme {
    border-radius: 15px;
}
.prva-slika {
    width: 180px;
    border-radius: 20px;
}
.nesto {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 239px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.text1 {
    text-align: center;
    margin-top: 1px;
}
.prvo-dugme1 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
}
.nesto2 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.text2 {
    text-align: center;
    margin-top: 1px;
}
.prvo-dugme2 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
}
.druga-slika {
    width: 180px;
    border-radius: 20px;
}
.pocetni-kvadar {
    background-color: wheat;
    background-image: linear-gradient(to right,#762ca8,#1c3f70,#d44fe0,#8c325b,#a87cd6);
    height: 30px;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.crna-linija1 {
    background-color: black;
    border: 1px solid black;
}
.text3 {
    text-align: center;
    margin-top: 1px;
}
.nesto3 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.prvo-dugme3 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
}
.treca-slika {
    width: 180px;
    border-radius: 20px;
}
.nesto4 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.prvo-dugme4 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
}
.cetvrta-slika {
    width: 180px;
    border-radius: 20px;
}
.text4 {
    text-align: center;
    margin-top: 1px;
}
.crna-linija2 {
    background-color: black;
    border: 1px solid black;
}
.nesto5 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.text5 {
    text-align: center;
    margin-top: 1px;
}
.peta-slika {
    width: 180px;
    border-radius: 20px;
}
.nesto6 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.text6 {
    text-align: center;
    margin-top: 1px;
}
.sesta-slika {
    width: 180px;
    border-radius: 20px;
}
.prvo-dugme5 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
}
.prvo-dugme6 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
}
.crna-linija3 {
    background-color: black;
    border: 1px solid black;
    margin-top: 292px;
}
.nesto7 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.prvo-dugme7 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
}
.text7 {
    text-align: center;
    margin-top: 1px;
}
.sedma-slika {
    width: 180px;
    border-radius: 20px;
}
.nesto8 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.osma-slika {
    width: 180px;
    border-radius: 20px;
}
.text8 {
    text-align: center;
    margin-top: 1px;
}
.prvo-dugme8 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
}
.crna-linija4 {
    background-color: black;
    border: 1px solid black;
    margin-top: 292px;
}
.deveta-slika {
    width: 180px;
    border-radius: 20px;
}
.text9 {
    text-align: center;
    margin-top: 19px;
}
.prvo-dugme9 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
}
.nesto9 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: left;
}
.deseta-slika {
    width: 180px;
    border-radius: 20px;
}
.text10 {
    text-align: center;
    margin-top: 19px;
}
.prvo-dugme10 {
    border-radius: 10px;
    margin-left: 36px;
    margin-top: 1px;
}
.nesto10 {
    background-color: white;
    width: 180px;
    border-radius: 20px;
    height: 268px;
    border: 2px solid black;
    margin-top: 10px;
    float: right;
}
.prvo-dugme10:hover{
    background-color: grey;
}
.prvo-dugme9:hover{
    background-color: grey;
}
.prvo-dugme8:hover{
    background-color: grey;
}
.prvo-dugme7:hover{
    background-color: grey;
}
.prvo-dugme6:hover{
    background-color: grey;
}
.prvo-dugme5:hover{
    background-color: grey;
}
.prvo-dugme4:hover{
    background-color: grey;
}
.prvo-dugme3:hover{
    background-color: grey;
}
.prvo-dugme2:hover{
    background-color: grey;
}
.prvo-dugme1:hover{
    background-color: grey;
}
.prvo-dugme:hover{
    background-color: grey;
}