body {
    background-color: #487948;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center;
}
.kvadar {
    background-color: wheat;
    width: 230px;
    height: 600px;
    border-radius: 20px;
    margin: 10px auto; 
    border: 2px solid black;
}
.text-pasta1 {
    text-align: center;
}
.naglasenje1 {
    color: red;
    text-align: center;
    margin-top: 0px;
}
.prvo-dugme2 {
    border-radius: 15px;
    margin-top: 0px;
    margin-left: 0px;
}
.linija {
    margin-top: 58px;
}
.prvo-dugme2:hover {
    background-color: grey;
}